/*@font-face {*/
  /*font-family: 'Open Sans';*/
  /*font-style: normal;*/
  /*font-weight: 100;*/
  /*src: local('Open Sans Light'), local('OpenSans-Light'), url(./open_sans_google.woff) format('woff');*/
/*}*/

/*@font-face {*/
  /*font-family: 'Open Sans';*/
  /*font-style: normal;*/
  /*font-weight: 100;*/
  /*src: local('Open Sans Light'), local('OpenSans-Light'), url(./open_sans_google.woff) format('woff');*/
/*}*/

html {
    overflow-y: scroll;
    overflow-x: hidden;
}

body {
    font-family: 'Open Sans'
}

main {
    position: relative;
    padding-top: 60px;
}

/* Ensure display:flex and others don't override a [hidden] */
[hidden] { 
    display: none !important; 
}

th {
  cursor: pointer;
}

.app-title {
    line-height:50px;
    font-size:20px;
    color: white;
}

.toolbar-item a {
  cursor: pointer;
}

.orders-table {
    width:50%;
}

.orders-table td {
    width: 50%;
}

.summary-border {
    border-top: 2px solid black;
}

.indent {
    margin-left:5px;
}

.navbar {
    min-height: 60px;
}

.navbar .nav > li.toolbar-item > a {
    color: #9E9E9E;
    font-weight:bold;
}

.navbar .nav > .toolbar-item > a.active {
    color: #000;
}

.navbar-header {
    margin-top: -10px;
}

.navbar-collapse {
    float:right;
    margin-top: 15px;
}

.nav.navbar-padding {
    margin-left:25px;
    margin-top: 10px;
}

a.navbar-brand {
    color: #fff;
}

.navbar-brand>img {
    display: inline-block;
}

.navbar-inner {
    padding-left: 0px;
    background-color: #027FF4;
}

.navbar-inner.toolbar {
    background-color: #fafafa;
}

.navbar-inner.footer {
    background-color: #fafafa;
    height:50px;
}

.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
    background-color: #efefef;
    color: #808080;
}

.navbar .nav li.toolbaritem a:hover, .navbar .nav li a:hover {
    color: #E03930;
}

.navbar .nav > li  {
    cursor:pointer;
}

.navbar .nav > li > a {
    color: white;
    font-weight:bold;
    height:30px;
    padding-top: 6px;
    padding-bottom: 0px;
}

.navbar .nav > li.toolbaritem > a {
    color: black;
    font-weight:bold;
}

.nav.navBarPadding {
    margin-left: 25px;
    margin-top: 10px;
}

.navbarText {
    font-weight:bold;
}

.navbar-toggle {
  border: 1px solid white;
}

.navbar-toggle .icon-bar {
  background-color: white;
}

.navbar-inner.footer {
    background-color: #fafafa;
    height:50px;
}

footer {
    margin-top: 15px;
}

form {
	width:50%;
}


a:hover, a:focus {
  text-decoration: none;
}

.spinner {
    height:60px;
    width:60px;
    -webkit-animation: rotation .6s infinite linear;
    -moz-animation: rotation .6s infinite linear;
    -o-animation: rotation .6s infinite linear;
    animation: rotation .6s infinite linear;
    border-left:6px solid rgba(0,174,239,.15);
    border-right:6px solid rgba(0,174,239,.15);
    border-bottom:6px solid rgba(0,174,239,.15);
    border-top:6px solid rgba(0,174,239,.8);
    border-radius:100%;
  }
  
  @-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(359deg);}
  }
  @-moz-keyframes rotation {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(359deg);}
  }
  @-o-keyframes rotation {
    from {-o-transform: rotate(0deg);}
    to {-o-transform: rotate(359deg);}
  }
  @keyframes rotation {
    from {transform: rotate(0deg);}
    to {transform: rotate(359deg);}
  }

